.container {
    background-image: url('./ex23/images/Marble.jpg');
    padding: 12px
}

.image-container {
    text-align: center;
}

.collection-paragraph {
    text-align: justify;
}

.image-container img {
    width: 240px;
}

.title {
    color: red;
}   

.collection-table {
    width: 100%;
}